<img
  src="https://upload.wikimedia.org/wikipedia/id/7/72/New_Mobile_Legends_Bang_Bang_2020_Logo.png"
  width="180px"
  alt="Logo"
  class="logo"
/>

<div class="menu">
  <a href="/">Home</a>
  <a href="/hero">Hero</a>
  <a href="/gear">Gear</a>
</div>
